In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re 
from sklearn.preprocessing import MultiLabelBinarizer

import matplotlib.ticker as ticker
import numpy as np

In [4]:
# Load data into DataFrame
df = pd.read_csv('/Users/sa21/Desktop/Data_Analyst_Job_Trends/data/gsearch_jobs.csv', nrows= 1000)
df.head()

,Unnamed: 0,index,title,company_name,location,via,description,extensions,job_id,thumbnail,...,commute_time,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,description_tokens
0,0,0,Data Analyst,Meta,Anywhere,via LinkedIn,In the intersection of compliance and analytic...,"['15 hours ago', '101K–143K a year', 'Work fro...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,101K–143K,a year,122000.0,101000.0,143000.0,NaN,122000.0,122000.0,"['tableau', 'r', 'python', 'sql']"
1,1,1,Data Analyst,ATC,United States,via LinkedIn,Job Title: Entry Level Business Analyst / Prod...,"['12 hours ago', 'Full-time', 'Health insurance']",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
2,2,2,Aeronautical Data Analyst,"Garmin International, Inc.","Olathe, KS",via Indeed,Overview:\n\nWe are seeking a full-time...\nAe...,"['18 hours ago', 'Full-time']",eyJqb2JfdGl0bGUiOiJBZXJvbmF1dGljYWwgRGF0YSBBbm...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['sql']
3,3,3,Data Analyst - Consumer Goods - Contract to Hire,Upwork,Anywhere,via Upwork,Enthusiastic Data Analyst for processing sales...,"['12 hours ago', '15–25 an hour', 'Work from h...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgLSBDb25zdW...,NaN,...,NaN,15–25,an hour,20.0,15.0,25.0,20.0,NaN,41600.0,"['powerpoint', 'excel', 'power_bi']"
4,4,4,Data Analyst | Workforce Management,Krispy Kreme,United States,via LinkedIn,Overview of Position\n\nThis position will be ...,"['7 hours ago', '90K–110K a year', 'Contractor']",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgfCBXb3JrZm...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,90K–110K,a year,100000.0,90000.0,110000.0,NaN,100000.0,100000.0,"['powerpoint', 'excel', 'outlook', 'word']"

In [3]:
columns_names = df.columns
print(columns_names)
print('All together there are', len(df.columns), 'columns')

Index(['Unnamed: 0', 'index', 'title', 'company_name', 'location', 'via',
       'description', 'extensions', 'job_id', 'thumbnail', 'posted_at',
       'schedule_type', 'work_from_home', 'salary', 'search_term', 'date_time',
       'search_location', 'commute_time', 'salary_pay', 'salary_rate',
       'salary_avg', 'salary_min', 'salary_max', 'salary_hourly',
       'salary_yearly', 'salary_standardized', 'description_tokens'],
      dtype='object')
All together there are 27 columns

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1000 non-null   int64
 1   index                1000 non-null   int64
 2   title                1000 non-null   object
 3   company_name         1000 non-null   object
 4   location             1000 non-null   object
 5   via                  999 non-null    object
 6   description          1000 non-null   object
 7   extensions           1000 non-null   object
 8   job_id               1000 non-null   object
 9   thumbnail            635 non-null    object
 10  posted_at            998 non-null    object
 11  schedule_type        997 non-null    object
 12  work_from_home       332 non-null    object
 13  salary               92 non-null     object
 14  search_term          1000 non-null   object
 15  date_time            1000 non-null   object
 16  search_location      1000 non-null   object
 17  commute_time         0 non-null      float64
 18  salary_pay           92 non-null     object
 19  salary_rate          92 non-null     object
 20  salary_avg           92 non-null     float64
 21  salary_min           90 non-null     float64
 22  salary_max           90 non-null     float64
 23  salary_hourly        54 non-null     float64
 24  salary_yearly        37 non-null     float64
 25  salary_standardized  92 non-null     float64
 26  description_tokens   1000 non-null   object
dtypes: float64(7), int64(2), object(18)
memory usage: 211.1+ KB

In [ ]:
#numbers of rows
rows = len(df)
print('And there are', rows, 'rows')

In [ ]:
# null values
df.isnull().sum()

16 of 27 features have null values.

In [ ]:
# job titles
job_title_counts = df['title'].value_counts()
job_title_counts

The words "Data" and "Analyst" are commonly found in most if not all the job postings.

In [ ]:
#  names
company_counts = df['company_name'].value_counts()
top_15_company = company_counts.head(15)
top_15_company

In [ ]:
# Top 15 companies
top_15_company = company_counts.head(15)
# Plot
plt.figure(figsize=(10, 6))
sns.barplot(x=top_15_company.values, y=top_15_company.index, palette='cividis')
plt.title('Top 15 Companies by Job Postings')
plt.xlabel('Number of Job Postings')
plt.ylabel('Company Name')
plt.tight_layout()
plt.show()

The graph shows that Upwork is the most active company in job postings. This could mean that freelance or gig-based roles or in high demand. Companies like Talentify.io and Walmart follow but with fewer postings. Other companies posted far less compare to the top 3.

In [ ]:
schedules_typ = df['schedule_type'].value_counts(dropna=False)
schedules_typ

The schedule_type column shows that many job postings list multiple work schedule, such as "Full-time and Contractor" or "Part-time and Temp work." Full-time roles dominate the dataset, followed by Contractor and Contractor and Temp work combinations. This suggests that while single schedule listings are common, most postings offer hybrid or flexible options. To better understand the frequency of different work schedules,I'll visualize the top 40 most common combinations in a bar chart.

In [ ]:
# Count values including NaNs being replaced with 'Missing' for plotting 
schedule_counts = df['schedule_type'].fillna('Missing').value_counts()

# Filter to only show types with 40 or more postings
filtered_counts = schedule_counts[schedule_counts >= 40]

# Plot
plt.figure(figsize=(10, 6))
sns.barplot(x=filtered_counts.index, y=filtered_counts.values, palette='viridis')

plt.title('Job Schedule Types with 40+ Postings')
plt.xlabel('Schedule Type')
plt.ylabel('Number of Postings')
plt.xticks(rotation=45)  # Rotate x-axis labels
plt.tight_layout()
plt.show()

#### Schedule type transformation

In [ ]:
# Sample data
df['schedule_type'] = df['schedule_type'].fillna("")

# Standardize and normalize separators
df['schedule_type_clean'] = (
    df['schedule_type']
    .str.lower()
    .str.replace(r'\s*,\s*', ',', regex=True)
    .str.replace(r'\s+and\s+', ',', regex=True)
)
# Split into list and clean individual entries
def clean_label_list(lst):
    return [x.strip().removeprefix('and ').strip() for x in lst if x.strip()]

df['schedule_type_list'] = df['schedule_type_clean'].str.split(',')
df['schedule_type_list'] = df['schedule_type_list'].apply(clean_label_list)

# renaming to unify variations
rename_map = {
    'full time': 'full-time',
    'fulltime': 'full-time',
    'part time': 'part-time',
    'temp': 'temp work',
    'temporary': 'temp work'
}
df['schedule_type_list'] = df['schedule_type_list'].apply(
    lambda lst: [rename_map.get(x, x) for x in lst]
)

# One-hot encode schedule types
mlb = MultiLabelBinarizer()
schedule_dummies = pd.DataFrame(
    mlb.fit_transform(df['schedule_type_list']),
    columns=[f'is_{x.replace("-", "_").replace(" ", "_")}' for x in mlb.classes_],
    index=df.index
)
# Merge into original DataFrame
df = pd.concat([df, schedule_dummies], axis=1)

I used one-hot encoding to transform the schedule types like full-time or part-time into separate binary columns such as is_full_time. I used MultiLabelBinarizer because some job postings list multiple schedule types in a single row, and this tool helps break them out properly into different variables. I then merged them back into the original DataFrame. The result is a cleaner structure where each schedule type has its own column showing whether it's present in a given job posting. This allows me to get a clearer picture of the schedule types across all postings.

In [ ]:
# Count each schedule type
schedule_columns = [col for col in df.columns if col.startswith('is_')]
schedule_sums = df[schedule_columns].sum().sort_values(ascending=False)
schedule_labels = schedule_sums.index.str.replace('is_', '').str.replace('_', ' ').str.title()

# Plot bar chart
plt.figure(figsize=(10, 6))
sns.barplot(x=schedule_sums.values, y=schedule_labels, palette='mako')
plt.title('Job Postings by Schedule Type (Separated)')
plt.xlabel('Number of Postings')
plt.ylabel('Schedule Type')
plt.tight_layout()
plt.show()

The frequency of job postings by schedule type after cleaning and standardizing the data. Many entries originally included multiple schedule types so I split and normalized them to count each type individually. Full-time roles are by far the most common, followed by contractor and temp work. Part-time, internship, and volunteer roles appear much less frequently.

In [ ]:
# Create sets for top 3 types
set_full_time = set(df[df.get('is_full_time', 0) == 1].index)
set_contractor = set(df[df.get('is_contractor', 0) == 1].index)
set_temp = set(df[df.get('is_temp_work', 0) == 1].index)

# Plot Venn diagram
plt.figure(figsize=(6, 4))
venn3([set_full_time, set_contractor, set_temp],
      set_labels=('Full-time', 'Contractor', 'Temp Work'))
plt.title('Overlap of Top 3 Schedule Types')
plt.tight_layout()
plt.show()

With the information gathered from the first bar plot, I created a Venn diagram to explore where the top schedule types; Full-time, Contractor, and Temp Work overlap. This visual helps uncover how often these job types are combined in single postings. For example, a number of postings offer both full-time and contractor roles, while some include all three categories. Understanding these overlaps help us identifying hybrid job opportunities and understand how flexible employers are with scheduling.

In [ ]:
# Filter numerical and categorical columns
numer_features = df.select_dtypes(include=['int64', 'float64']).columns
numer_features

In [ ]:
# exclude unwanted columns 
exclude_cols = ['Unnamed: 0', 'index', 'commute_time', 'is_', 'is_and_contractor', 
                'is_and_internship', 'is_and_per_diem', 'is_and_temp_work', 
                'is_contractor', 'is_full-time', 'is_internship', 'is_part-time', 
                'is_per_diem', 'is_temp_work', 'is_volunteer','is_full_time', 'is_part_time']

# Filter numerical features 
numer_features = [col for col in numer_features if col not in exclude_cols]
# Grid setup
n_cols = 2
n_rows = (len(numer_features) + 1) // n_cols  # Dynamic row calculation
plt.figure(figsize=(18, 12)) 

# Loop through and plot each numeric feature
for i, col in enumerate(numer_features, 1):
    plt.subplot(n_rows, n_cols, i)
    sns.histplot(df[col], bins=20, color='aqua', edgecolor='purple')
    plt.title(col, fontsize=14)
    plt.xlabel('')
    plt.ylabel('')

plt.tight_layout()
plt.show()

Most of the salary features are right-skewed, with values concentrated on the lower end of the distribution and a long tail stretching toward higher salaries. This is especially noticeable in features like salary_avg, salary_min, and salary_max, where a small number of outliers inflate the upper range. While salary_standardized shows a slightly more compressed shape, it still maintains a right-skewed pattern rather than a true bell curve.

In [ ]:
# Fill missing values in 'salary_rate' with 'Missing'
df['salary_rate'] = df['salary_rate'].fillna('Missing')

# Count the occurrences of each salary rate
salary_rate_counts = df['salary_rate'].value_counts().reset_index()
salary_rate_counts.columns = ['salary_rate', 'count']

# Plot the bar chart
plt.figure(figsize=(10, 6))
sns.barplot(data=salary_rate_counts, x='count', y='salary_rate', palette='viridis')
plt.title('Distribution of Salary Rate')
plt.xlabel('Number of Postings')
plt.ylabel('Salary Rate')
plt.tight_layout()
plt.show()

In [ ]:
# Get one-hot schedule columns
schedule_columns = [col for col in df.columns if col.startswith('is_')]

# Compute average salary for each schedule type
avg_salary_by_schedule = {
    col.replace('is_', '').replace('_', ' ').title(): df.loc[df[col] == 1, 'salary_standardized'].mean()
    for col in schedule_columns
}
# Convert to pandas Series and drop NaN values
avg_salary_by_schedule = pd.Series(avg_salary_by_schedule).dropna().sort_values(ascending=False)
# Plot
plt.figure(figsize=(10, 6))
# Format x-axis to display currency
plt.gca().xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'${int(x):,}'))
sns.barplot(x=avg_salary_by_schedule.values, y=avg_salary_by_schedule.index, palette='coolwarm')
plt.title('Average Salary by Schedule Type')
plt.xlabel('Average Salary')
plt.ylabel('Schedule Type')
plt.tight_layout()
plt.show()

As expected, full-time employees earn the highest average salaries, followed by contractors and temp workers. Full-time workers make nearly double the average salary of internship positions, highlighting the disparity in compensation based on employment type

### Clean and standardize the salary_pay column

In [ ]:
#clean salary pay function
def clean_salary_pay(s):
    if pd.isna(s) or s == '':
        return np.nan

    # Convert to string and remove unwanted symbols
    s = str(s).replace('$', '').replace(',', '').lower()

    # Handle "K" notation (e.g., 90K)
    s = re.sub(r'(\d+)k', lambda m: str(float(m.group(1)) * 1000), s)

    # Split on common dash types
    parts = re.split(r'[\–\-]', s)  # en dash or hyphen

    try:
        # Convert both ends of range to float
        nums = [float(p.strip()) for p in parts if p.strip() != '']
        if len(nums) == 2:
            return sum(nums) / 2  # average
        elif len(nums) == 1:
            return nums[0]
    except:
        return np.nan

    return np.nan

# Apply function
df['salary_pay_cleaned'] = df['salary_pay'].apply(clean_salary_pay)

# fill NaNs with mean
df['salary_pay_cleaned'] = df['salary_pay_cleaned'].fillna(df['salary_pay_cleaned'].mean())
# Apply function
df['salary_pay_cleaned'] = df['salary_pay'].apply(clean_salary_pay)

# fill NaNs with mean
df['salary_pay_cleaned'] = df['salary_pay_cleaned'].fillna(df['salary_pay_cleaned'].mean())

This function helped me standardizes the messy salary_pay column by converting ranges "$50K–60K" into averaged numerical values and handles "K" notation for thousands. It cleans symbols, splits salary ranges like "50-60" into one number by taking the average, and imputes missing values with the mean. The result is an all numeric column.

In [ ]:
# Limit to top 10 most frequent job titles
top_titles = df['title'].value_counts().head(10).index
df_top = df[df['title'].isin(top_titles)]

# Calculate average salary_pay_cleaned by job title - FIXED GROUPBY
salary_by_title = df_top.groupby('title')['salary_pay_cleaned'].mean().sort_values(ascending=False)

# Plotting - FIXED BARPLOT PARAMETERS
plt.figure(figsize=(12, 7))
sns.barplot(x=salary_by_title.values, y=salary_by_title.index, palette='coolwarm')

# Format x-axis to display currency
plt.gca().xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'${int(x):,}'))
plt.title('Average Salary Pay by Top 10 Job Titles', pad=20)
plt.xlabel('Average Salary Pay', labelpad=10)
plt.ylabel('Job Title', labelpad=10)
plt.tight_layout()
plt.show()

The average salary pay across the top 10 job titles shows a narrow range. And roles like Data Analyst II, the pay is even closer. Data Engineer tops the list, but even the lowest ranked position Business Data Analyst is not far behind. This suggests a competitive and balanced compensation landscape.

In [ ]:
# Countplot of cleaned salary rate types
plt.figure(figsize=(8, 5))
sns.countplot(data=df, x='salary_rate', order=df['salary_rate'].value_counts().index, palette='Set2')
plt.title('Distribution of Salary Rate Types')
plt.xlabel('Salary Rate')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# Replace any NaNs in work_from_home with False or a neutral label
df['work_from_home'] = df['work_from_home'].fillna(False)

# Group and plot
avg_salary_remote = df.groupby('work_from_home')['salary_pay_cleaned'].mean().dropna()

# Plot
plt.figure(figsize=(6, 4))
sns.barplot(x=avg_salary_remote.index.astype(str), y=avg_salary_remote.values, palette='pastel')
# Format x-axis to display currency
plt.gca().yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'${int(x):,}'))
plt.title('Average Salary by Work from Home Status')
plt.xlabel('Remote Job (True/False)')
plt.ylabel('Average Salary')
plt.tight_layout()
plt.show()

Most job postings have a blank value for the work-from-home column, so I chose to fill the missing rows with False, assuming they represent non-remote positions. I then compared the average salary between remote (True) and non-remote (False) jobs. The results showed that the average salary for non-remote jobs is significantly higher. If this assumption is true, it would suggest that remote jobs tend to pay less on average than in-person roles.

In [ ]:
# Convert salary_rate to lowercase and strip whitespace
df['salary_rate_cleaned'] = df['salary_rate'].str.lower().str.strip()

# Convert salary_min and salary_max to numeric
df['salary_min'] = pd.to_numeric(df['salary_min'], errors='coerce')
df['salary_max'] = pd.to_numeric(df['salary_max'], errors='coerce')

# Convert hourly salaries to yearly
hourly_mask = df['salary_rate_cleaned'] == 'an hour'
df.loc[hourly_mask, 'salary_min'] = df.loc[hourly_mask, 'salary_min'] * 40 * 52
df.loc[hourly_mask, 'salary_max'] = df.loc[hourly_mask, 'salary_max'] * 40 * 52

# Fill NaNs with average values (optional)
df['salary_min'] = df['salary_min'].fillna(df['salary_min'].mean())
df['salary_max'] = df['salary_max'].fillna(df['salary_max'].mean())

# Limit to top job titles
top_titles = df['title'].value_counts().head(10).index
df_top = df[df['title'].isin(top_titles)]

# Calculate average salary_min and salary_max for each title
salary_range = df_top.groupby('title')[['salary_min', 'salary_max']].mean().sort_values(by='salary_max', ascending=False)

# Plot
plt.figure(figsize=(12, 7))
for i, (index, row) in enumerate(salary_range.iterrows()):
    plt.plot([row['salary_min'], row['salary_max']], [index, index], marker='|', color='teal', linewidth=4)

plt.title('Average Salary Range by Job Title')
plt.xlabel('Salary ($)')
plt.ylabel('Job Title')
plt.grid(True, linestyle='--', alpha=0.5)
plt.tight_layout()
plt.show()

The salary ranges across different data-related job titles appear relatively consistent.

In [ ]:
columns_names

#### Job Description NLP Feature Extraction

In [ ]:
df['description']

In [ ]:
def preprocess_text(text):
    if pd.isnull(text):
        return ""
    text = text.lower()
    text = re.sub(r'\s+', ' ', text)
    return text

df['description_cleaned'] = df['description'].apply(preprocess_text)
df['description_cleaned']

In [ ]:
def extract_salary(text):
    match = re.search(r'\$?\d{2,3}(?:,\d{3})?(?: ?- ?\$?\d{2,3}(?:,\d{3})?)?', text)
    return match.group() if match else None

df['extracted_salary'] = df['description_cleaned'].apply(extract_salary)
df['extracted_salary']

In [ ]:
def extract_remote_status(text):
    if 'remote' in text or 'work from home' in text:
        return 'Remote'
    elif 'hybrid' in text:
        return 'Hybrid'
    elif any(kw in text for kw in [
        'on-site', 'on site', 'in-office', 'in office', 'in-person', 'in person',
        'must be on site', 'work from office', 'report to office',
        'office based', 'office setting', 'onsite presence required',
        'this is not a remote position', 'required to be physically present',
        'must be available on location'
    ]):
        return 'On-site'
    return None


df['remote_status_extracted'] = df['description_cleaned'].apply(extract_remote_status)
df['remote_status_extracted'].value_counts(dropna=False)

In [ ]:
def extract_degree(text):
    if 'phd' in text or 'doctoral' in text:
        return "PhD"
    elif 'master' in text or 'graduate degree' in text:
        return "Master's"
    elif 'bachelor' in text:
        return "Bachelor's"
    elif 'associate' in text:
        return "Associate"
    elif 'high school' in text or 'no degree' in text:
        return "None"
    return None

df['degree_required_extracted'] = df['description_cleaned'].apply(extract_degree)
df['degree_required_extracted'].value_counts(dropna=False)

In [ ]:
def extract_experience(text):
    if 'entry level' in text:
        return 'Entry-level'
    elif re.search(r'\b\d{1,2}[- ]?(plus|\+)? (years|yrs) (of )?(experience|exp)', text):
        return 'Experienced'
    elif 'senior' in text or 'lead role' in text:
        return 'Senior-level'
    return None

df['experience_level_extracted'] = df['description_cleaned'].apply(extract_experience)
df['experience_level_extracted'].value_counts(dropna=False)

In [ ]:
def extract_benefits(text):
    benefits = []
    if 'health insurance' in text:
        benefits.append('Health Insurance')
    if '401k' in text:
        benefits.append('401k')
    if 'bonus' in text:
        benefits.append('Bonus')
    if 'pto' in text or 'paid time off' in text:
        benefits.append('PTO')
    if 'stock' in text or 'equity' in text:
        benefits.append('Equity')
    return ', '.join(benefits) if benefits else None

df['benefits'] = df['description_cleaned'].apply(extract_benefits)
df['benefits'].value_counts(dropna=False)

In [ ]:
def extract_visa_info(text):
    if 'visa sponsorship' in text or 'sponsorship available' in text:
        return 'Sponsorship Available'
    elif 'must be authorized to work' in text:
        return 'No Sponsorship'
    return None

df['visa_sponsorship'] = df['description_cleaned'].apply(extract_visa_info)
df['visa_sponsorship'].value_counts(dropna=False)

In [ ]:
def extract_schedule(text):
    if 'full-time' in text or 'full time' in text:
        return 'Full-time'
    elif 'part-time' in text or 'part time' in text:
        return 'Part-time'
    elif 'contract' in text:
        return 'Contract'
    elif 'internship' in text:
        return 'Internship'
    return None

df['schedule_type_extracted'] = df['description_cleaned'].apply(extract_schedule)
df['schedule_type_extracted'].value_counts(dropna=False)

In [ ]:
 
df['travel_required'].value_counts(dropna=False)

In [ ]:
skills_list = [  'python', 'r', 'sql', 'excel', 'tableau', 'power bi', 'alteryx', 'looker', 
    'sas', 'spark', 'hadoop', 'aws', 'azure', 'gcp', 'bigquery', 'snowflake',
    'matplotlib', 'seaborn', 'plotly', 'dash',
    'scikit-learn', 'tensorflow', 'keras', 'pytorch',
    'numpy', 'pandas', 'statsmodels',
    'git', 'jira', 'bash', 'linux',
    'apache airflow', 'airflow',
    'etl', 'bi tools', 'data warehouse', 'data lake',
    'machine learning', 'deep learning', 'statistics', 'predictive modeling',
    'regression', 'clustering', 'nlp', 'natural language processing',
    'a/b testing', 'experimentation', 'data visualization']

def extract_skills(text):
    found = [skill for skill in skills_list if skill in text]
    return ', '.join(found) if found else None

df['skills_mentioned'] = df['description_cleaned'].apply(extract_skills)
df['skills_mentioned'].value_counts(dropna=False)

In [ ]:
import re

# List of U.S. states and abbreviations
us_states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa",
    "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan",
    "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada",
    "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina",
    "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island",
    "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont",
    "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
]

state_abbr = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN",
    "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV",
    "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN",
    "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY", "DC"
]

# Combine all valid names/abbreviations
state_set = set(state_abbr + us_states)

def extract_state(text):
    if pd.isnull(text):
        return None
    words = re.findall(r'\b[A-Za-z]{2,}\b', text)
    for word in words:
        if word.upper() in state_set or word.title() in state_set:
            return word.upper() if word.upper() in state_abbr else word.title()
    return None

df['extracted_state'] = df['description_cleaned'].apply(extract_state)

In [ ]:
# Show all rows in output
pd.set_option('display.max_rows', None)

# Now show all state counts
print(df['extracted_state'].value_counts())

In [ ]:
df.columns

In [ ]:
# Load your CSV
df1 = pd.read_csv('/Users/sa21/Desktop/Data_Analyst_Job_Trends/data/cleaned_gsearch_jobs.csv')

# View all missing data counts
missing_data = df1.isnull().sum()
print(missing_data)

In [ ]:
df1.head()

In [ ]:
columns_names2 = df1.columns
columns_names2

In [ ]:
df1['work_from_home'].value_counts()

In [ ]:
# Read the cleaned CSV file 
df1 = pd.read_csv("/Users/sa21/Desktop/Data_Analyst_Job_Trends/data/cleaned_gsearch_jobs.csv")

# Save as Excel to a subfolder
df1.to_excel('/Users/sa21/Desktop/Data_Analyst_Job_Trends/data/processed/cleaned_gsearch_jobs.xlsx', index=False)

In [ ]:
import pandas as pd
import re
import ast

def standardize_column_text(df, columns_to_clean):
    """
    Cleans and standardizes text fields in a DataFrame using regex rules per column.

    Args:
        df (pd.DataFrame): The input DataFrame.
        columns_to_clean (list): List of column names to standardize.

    Returns:
        pd.DataFrame: A new DataFrame with cleaned columns.
    """
    df1 = df1.copy()

    for col in columns_to_clean:
        def clean_text(text):
            if pd.isnull(text):
                return text
            text = str(text).lower()

            # Title column
            if col == 'title':
                text = re.sub(r'(sr\.?|senior)', 'senior', text)
                text = re.sub(r'(jr\.?|junior)', 'junior', text)
                text = re.sub(r'\s*-\s*.*$', '', text)
                text = re.sub(r'[^\w\s]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Company name
            elif col == 'company_name':
                text = re.sub(r'[^\w\s]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Location
            elif col == 'location':
                text = re.sub(r'\b(remote|anywhere|united states)\b', '', text)
                text = re.sub(r'[^\w\s,]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Via
            elif col == 'via':
                text = re.sub(r'[^\w\s]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Description
            elif col == 'description':
                text = re.sub(r'<.*?>', '', text)
                text = re.sub(r"(?:bachelor(?:'s)?|ba|bs|bsc)", 'bachelor', text)
                text = re.sub(r"(?:master(?:'s)?|ms|msc|mba)", 'master', text)
                text = re.sub(r"(?:phd|doctorate)", 'phd', text)
                text = re.sub(r'degree in [a-z\s]+', 'degree', text)
                text = re.sub(r'[^\w\s]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Extensions
            elif col == 'extensions':
                text = re.sub(r'[\[\]\']', '', text)
                text = re.sub(r'[^\w\s,]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Schedule type
            elif col == 'schedule_type':
                text = re.sub(r'[^a-z\s]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Salary rate
            elif col == 'salary_rate':
                text = re.sub(r'\b(an?|per)\b', '', text)
                text = re.sub(r'[^\w\s]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            # Skills found (stringified list)
            elif col == 'skills_found':
                try:
                    skills = ast.literal_eval(text)
                    if isinstance(skills, list):
                        cleaned_skills = [re.sub(r'[^\w\s]', '', s.strip().lower()) for s in skills if isinstance(s, str)]
                        text = ', '.join(sorted(set(cleaned_skills)))
                    else:
                        text = ''
                except:
                    text = ''

            else:
                # Fallback for any general text column
                text = re.sub(r'[^\w\s]', '', text)
                text = re.sub(r'\s+', ' ', text).strip()

            return text

        df1[col] = df1[col].astype(str).apply(clean_text)

    return df1

In [ ]:
df1